// =Base
// ----------------------------------------------

*
  transition: all .24s

body
  vertical-align: baseline
  color: $main-light
  background: $main-dark

a, span
  text-decoration: none
  transition: all .24s
  white-space: nowrap

a 
  color: $accent
  border-bottom: 1px solid rgba($accent, .8)

  &:hover
    border-color: transparent

button
  color: $main-light
  background: $main-dark
  border: 1px solid rgba($main-light, .64)