// =Responsive
// ----------------------------------------------

@media screen and (max-width: 1200px)

@media screen and (max-width: 800px)

  header[role="banner"]
    margin-top: 120px

@media screen and (max-width: 640px)

@media screen and (max-width: 500px)

  h1, h2, h3, h4,
  p, ul,
  .cases .case a
    font-size: 18px

  .container
    padding: 0 40px

  header[role="banner"]
    margin-top: 40px

  footer[role="contentinfo"]
    padding: 40px 0