// =Layout toggles
// ----------------------------------------------

// =Contrast (white)
// --------------------

body.contrast
  background: $main-dark
  color: $main-light

  a
    color: $main-light
    border-color: rgba($main-light, 1)

    &:hover
      color: $yellow
      border-color: transparent

  .logo
    background: $main-light

  section[role="main"]
    p
      .r100
        color: $main-dark
        background: $main-light

  footer[role="contentinfo"]

    p
      border-color: $main-light

    .toggle-menu
      button
        background-color: $main-light

        &:hover
          background-color: $yellow

// =Serif typeface
// --------------------

body.serif
  +sans-serif

  h1,h2,h3,h4
    +sans-serif
    font-weight: 700

    .r35i, .r35b, .r50i, .r50b, .r70i, .r70b, .r100
      font-weight: 700

  a
    +sans-serif
    font:
      weight: 400
      style: italic

  .r35i, .r35b, .r50i, .r50b, .r70i, .r70b, .r100
    +sans-serif
    font:
      weight: 400
      style: normal

  strong
    font-weight: 700

  footer[role="contentinfo"]
    p
      +sans-serif

// =Color (var)
// --------------------

body.color
  background: $accent

  a
    &:hover
      color: $yellow

  footer[role="contentinfo"]

    .toggle-menu
      button
        &:hover
          background-color: $yellow