// =Typography
// ----------------------------------------------

=sans-serif
  font:
    family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji
    weight: 400
    style: normal

=serif
  font:
    family: "Martel", source-serif-4, freight-text-pro, Georgia, Times, serif
    weight: 300
    style: normal

=mono
  font:
    family: "IBM Plex Mono", SF Mono, Menlo, Monaco, "Courier New", monospace
    weight: 300
    style: normal

=font-size
  font-size: 16px

=line-height
  line-height: 1.8

body, button
  +mono
  +font-size
  +line-height

h1,h2,h3,h4
  +mono
  font-size: 24px
  font-weight: 600

strong
  font-weight: 600