// =Variables
// ----------------------------------------------

// =Values
// ---------------------

$site-width:    960px
$spacer1:       80px

// =Colors
// ---------------------

$blue:          #001aff   

$accent:        $blue

$main-light:    #fff
$main-dark:     #000

$border-light:  rgba($main-light, .1)
$border-dark:   rgba($main-dark, .1)