!!!
%html{:dir => "ltr", :lang => "en-US"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/

    %title Web 2.0 Template by Michiel de Graaf

    // Google Fonts

    %link{:href => "https://fonts.googleapis.com", :rel => "preconnect"}/
    %link{:crossorigin => "", :href => "https://fonts.gstatic.com", :rel => "preconnect"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;600&family=Inter:wght@400;600&family=Archivo:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500&display=swap", :rel => "stylesheet"}/

    %link{:href => "assets/images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "assets/images/apple-touch-icon.png", :rel => "apple-touch-icon"}/

    %link{:href => "assets/stylesheets/application.css", :rel => "stylesheet"}/

    // Facebook

    %meta{:content => ""}/
    %meta{:content => "assets/images/social-img.jpg", :property => "og:image"}/
    %meta{:content => "", :property => "og:site_name"}/
    %meta{:content => "", :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "", :property => "og:url"}/

    // Twitter Card (large)

    %meta{:content => "summary", :name => "twitter:card"}/
    %meta{:content => ""}/
    %meta{:content => "", :name => "twitter:title"}/
    %meta{:content => "", :name => "twitter:description"}/
    %meta{:content => "assets/images/social-img.jpg", :name => "twitter:image"}/
    %meta{:content => "@michieldegraaf", :name => "twitter:site"}/

    %meta{:name => "theme-color", :content => "#fff"}

  %body

    %section.container

      %header{:role => "banner"}

        .logo
          %img{:src => "/assets/images/mdgt-74x50.svg"}

        %h1
          %span.r70b
            Web 2.0
          %span.r50i
            template
          %br
          &mdash; by Michiel de Graaf

        %p
          A simple static website template for <a href="https://codekitapp.com" target="_blank">CodeKit</a>.

      %section{:role => "main"}

        %p
          Running on <a href="https://haml.info/" target="_blank">HAML</a>, <a href="https://sass-lang.com/" target="_blank">SASS</a> and some <span class="r100">vanilla javascript</span>.
          View source on <a href="https://github.com/michieldegraaf/codekit-template" target="_blank">Github</a>, follow along on <a href="https://twitter.com/michieldegraaf" target="_blank">Twitter</a>.

      %footer{:role => "contentinfo"}

        %p
          Updated;  10-05-2022

        .toggle-menu
          %button.toggle-contrast{:role => "switch", "aria-checked" => "false", :tabindex => "-1"}
            Toggle contrast
          %button.toggle-color{:role => "switch", "aria-checked" => "false", :tabindex => "-1"}
            Toggle color
          %button.toggle-type{:role => "switch", "aria-checked" => "false", :tabindex => "-1"}
            Toggle type

  %script{:src => "assets/javascripts/vanilla.js"}